@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
    url('../fonts/LibreBaskerville-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
    url('../fonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville';
}

img {
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-inner {
    padding: 40px 0;
    
}

.site-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-desc {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 2.57143px;
    color: #7D7D7D;
}

.line {
    display: block;
    margin: 40px auto;
    width: 1300px;
    height: 1px;
    background: #E5E5E5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    align-items: flex-start;
    gap: 20px;
    grid-template-areas: 
    'img1 img2 img3 img4'
    'img5 img2 img3 img4'
    'img5 img2 img7 img8'
    'img5 img6 img7 img8'
    'img5 img6 img7 img11'
    'img9 img6 img7 img11'
    'img9 img10 img7 img11'
    'img9 img10 img14 img11'
    'img9 img10 img14 img11'
    'img9 img13 img14 img15'
    'img12 img13 img14 img15'
    'img12 img13 img14 img15'

    ;
}

.img-1 {
    grid-area: img1;
    position: relative;
}

.img-2 {
    grid-area: img2;
    position: relative;
}

.img-3 {
    grid-area: img3;
    position: relative;
}

.img-4 {
    grid-area: img4;
    position: relative;
}

.img-5 {
    grid-area: img5;
    position: relative;
}

.img-6 {
    grid-area: img6;
    position: relative;
}

.img-7 {
    grid-area: img7;
    position: relative;
}

.img-8 {
    grid-area: img8;
    position: relative;
}

.img-9 {
    grid-area: img9;
    position: relative;
}

.img-10 {
    grid-area: img10;
    position: relative;
}

.img-11 {
    grid-area: img11;
    position: relative;
}

.img-12 {
    grid-area: img12;
    position: relative;
}

.img-13 {
    grid-area: img13;
    position: relative;
}

.img-14 {
    grid-area: img14;
    position: relative;
}

.img-15 {
    grid-area: img15;
    position: relative;
}

.hero-content {
    position: absolute;
    z-index: 99;
    bottom: 30px;
    left: 32px;
}

.img-title {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.img-desc {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}